{% extends 'main/base.html' %}

{% block title %}
Cтраница про нас
{% endblock %}

{% block content %}

    <h2>Основная деятельность</h2>
    <p>Компания "АвтоРента" предоставляет широкий спектр услуг по аренде автомобилей различного класса для физических и юридических лиц. Основные направления деятельности компании:</p>
    <li>Краткосрочная аренда автомобилей без водителя</li>
    <li>Долгосрочная аренда автомобилей</li>
    <li>Трансфер</li>
    <li>Операционный лизинг</li>
    <li>Аренда автомобиля с выкупом (финансовый лизинг)</li>
    <li>Управление автопарком (транспортный аутсорсинг)</li>
    <li>Аудит корпоративного автопарка</li>
    <li>Спутниковый мониторинг</li>

    <h2>История и масштабы</h2>
    <p>Компания "АвтоРента" имеет богатую историю, начав свою работу в 2001 году. За 20 лет своего существования она превратилась в крупного игрока на рынке аренды автомобилей:</p>
    <li>Автопарк компании насчитывает несколько сотен автомобилей различных классов</li>
    <li>Представительства расположены в крупных городах России, включая Москву, Санкт-Петербург, Нижний Новгород, Краснодар, Ростов-на-Дону и другие</li>
    <li>Компании планируется открытие новых офисов в других регионах</li>

    <h2>Индивидуальный подход</h2>
    <p>Компания уделяет особое внимание индивидуальному подходу к каждому клиенту:</p>
    <li>АКаждый клиент назначается личный менеджер</li>
    <li>Помощь в оформлении документов</li>
    <li>Разработка индивидуальных решений для корпоративных клиентов</li>

{% endblock %}
f
