{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}

    <h1>Добро пожаловать на официальный сайт компании "АвтоРента"!</h1>
    <p>Мы предлагаем широкий выбор автомобилей для вашего комфорта и удобства.</p>
    <h1>Наша команда всегда готова помочь вам выбрать идеальный автомобиль для ваших нужд. Мы гарантируем:</h1>
    <li>Высокое качество автомобилей</li>
    <li>Профессиональную поддержку</li>
    <li>Лучшие условия на рынке</li>
    <p>Выбирайте комфортно с "АвтоРентой"!</p>
{% endblock %}


