{% extends 'main/base.html' %}

{% block title %}
Подписка
{% endblock %}

{% block content %}

      <h1 class="display-4 fw-normal text-body-emphasis">Уровни подписки</h1>
      <p class="fs-5 text-body-secondary">Выберите комфортный для вас уровень подписки.</p>

        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Стандарт</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">от 50000 р<small class="text-body-secondary fw-light">/месяц</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Минимальный срок подписки: 12 месяцев</li>
              <li>Ежемесячный платеж: от 50 000 до 100 000 рублей в зависимости от модели автомобиля</li>
              <li>Максимальный пробег: 30 000 км в год</li>
              <li>Возможность выбора автомобиля из определенного модельного ряда производителя</li><li>Возможность выбора автомобиля из определенного модельного ряда производителя</li>
              <li>Дополнительная страховка включена в стоимость</li>
              <li>Техническое обслуживание и замена зимних шин бесплатно</li>
              <li>Ограниченное количество замен автомобиля за срок подписки (до 2 раз)</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Начать пользоваться</button>
          </div>
        </div>

        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Премиум</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">от 80000 р<small class="text-body-secondary fw-light">/месяц</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Минимальный срок подписки: 24 месяца</li>
              <li>Ежемесячный платеж: от 80 000 до 150 000 рублей в зависимости от модели автомобиля</li>
              <li>Максимальный пробег: 40 000 км в год</li>
              <li>Возможность выбора автомобиля из определенного модельного ряда производителя</li>
              <li>Дополнительная страховка включена в стоимость</li>
              <li>Техническое обслуживание и замена зимних шин бесплатно</li>
              <li>Неограниченное количество замен автомобиля за срок подписки</li>
              <li>Дополнительные услуги: круглосуточная поддержка на дороге, эксклюзивные сервисы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Начать пользоваться</button>
          </div>
        </div>


        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Бизнес</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">от 80 000 р <small class="text-body-secondary fw-light">/месяц</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Минимальный срок подписки: 36 месяцев</li>
              <li>Ежемесячный платеж: от 80 000 до 150 000 рублей в зависимости от модели автомобиля</li>
              <li>Максимальный пробег: 60 000 км в год</li>
              <li>Возможность выбора автомобиля из широкого модельного ряда различных марок</li>
              <li>Дополнительная страховка включена в стоимость</li>
              <li>Техническое обслуживание и замена зимних шин бесплатно</li>
              <li>Неограниченное количество замен автомобиля за срок подписки</li>
              <li>Дополнительные услуги: круглосуточная поддержка на дороге, эксклюзивные сервисы, возможность использования автомобиля для коммерческих целей</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Начать пользоваться</button>
          </div>
        </div>
<p class="fs-5 text-body-secondary">*Каждая подписка включает в себя страховку, техническое обслуживание и замена зимних шин. При досрочном расторжении договора клиент обязан выплатить неустойку в размере двух месячных платежей.</p>


{% endblock %}